*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

h1{
  width: 100%;
  text-align: center;
}

.heading{
	font-size: 2em;
	text-align: center;
	width: 600px;
	margin: 10px auto;
	border: 1px solid grey;
	border-radius: 10px 10px 0 0;
}